.block1{
background-color: #CAE16D;
position: relative;
}
.block2{
    background-color: #E2CF6A;
    position: relative;
}
.block3{
    background-color:#E2806A;
    position: relative;
}
.block4{
    background-color: #878BE7;
    position: relative;
}
.container-block1-h3{
    width: 80px;
    background-color: #878BE7;
   position: absolute;
    bottom: 0;
    right: 0; 
    color: #CAE16D;
}
.container-block2-h3{
    width: 80px;
    background-color:#E2806A;
position: absolute;
    bottom: 0;
    right: 0;
    color:#E2CF6A ;
}
.container-block3-h3{
    width: 80px;
    background-color: #E2CF6A;
position: absolute;
    bottom: 0;
    right: 0;
    color: #E2806A;
}
.container-block4-h3{
    width: 80px;
    background-color: #CAE16D;
   position: absolute;
    bottom: 0;
    right: 0; 
    color:#878BE7 ;
}
table{
border-collapse: collapse;
margin: 20px;
width: 80%;
}




