.block1{
background-color: #CAE16D;
}
.block2{
    background-color: #E2CF6A;
}
.block3{
    background-color:#E2806A;
}
.block4{
    background-color: #878BE7;
}
.container-block1-h3{
    width: 122px;
    background-color: #878BE7;
    font-size: 120%;
}
.container-block2-h3{
    width: 122px;
    background-color:#E2806A ;
    font-size: 120%;
}
.container-block3-h3{
    width: 122px;
    background-color: #E2CF6A;
    font-size: 120%;
}
.container-block4-h3{
    width: 122px;
    background-color: #CAE16D;
    font-size: 120%;
}
.table{
border-collapse: collapse;
}




